#doctors{
    background-color: aliceblue;
    color: black;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transform: scale(1.04);
}
#doctor_text{
    color: orange;
}


/*NEW DOCTOR DIV*/
#new_doctor{
    background: white;
    /*border: 1px solid red;*/
    position: absolute;
    height: 86vh;
    width: 98%;
    margin: 1%;
    display: none;
    box-shadow: 1px 1px 4px #464747;
    border-radius: 4px;
    z-index: 11;
}
#header_input{
    /*border: solid 1px red;*/
    height: 5%;
    text-align: center;
    align-content: center;
    font-weight: 900;
    font-size: 24px;
    color: #1a6860;
}

#exit_div{
   /* border: solid 1px red;*/
    margin: 2%;
    height: 8%;
}
#form_div{
    border: 1px solid gray;
    margin: 2%;
    margin-top: 1%;
    height: 84%;
    overflow: auto;
    
}

#newDoctorForm{
    border-top: 1px solid #c5c3c3;
    margin: 2%;
    margin-top: 1%;
    height: 99%;
    overflow: auto;
    
}
.doctor_data_form{
    margin: 2%;
    padding-left: 1%;
    border-bottom: 1px solid rgb(190, 189, 189);
    /*box-shadow: 1px 1px 0px #464747;*/
}

.input{
    width: 80%;
    height: 35px;
    font-size: 20px;
    border: 1px solid;
}
.input_name{
    font-size: 24px;
}

#inner_exit_div {
    /*border: 1px solid red;*/
    margin: 2%;
    margin-top: 1%;
    height: 70%;
    align-content: center;
    justify-items: center;
    display: flex;
}

.inner_exit_div_button{
    height: 40px;
    width: 160px;
    font-size: 18px;

}

.inner_button_div{
    /*border: 1px solid red;*/
    width: 50%;
    align-content: center;
    text-align: center;
}
#exit_hospital_form_button{
    color: white;
    background: red;
    border: 1px solid red;
    border-radius: 8px;
    overflow:hidden;
}
#exit_hospital_form_button:hover{
    transform: scale(1.001);
    color: #1a6860;
    box-shadow: 1px 1px 2px #464747;
}

#save_button{
    color: black;
    background: #1a6860;
    border-radius: 6px;
    border: 1px solid #1a6860;
}
#save_button:hover{
    transform: scale(1.001);
    color: white;
    box-shadow: 1px 1px 2px #464747;
}
#county_select{
    background-color: white;
}
#constituency_select{
    background-color: white;
}
#town_select{
    background-color: white;
}
#hospital_select{
    background-color: white;
}

.select_input_div{

}

#feedback_info{
    border: 1px solid red;
    /*/position: absolute;*/
    height: 30px;
    width: 95%;
    margin-left: 2%;
    text-align: center;
    align-content: center;
    font-size: 20px;
    margin-top: 2%;
    background-image: linear-gradient(to right, #7af155 0%, #1dd126 100%);
    color: black;
    font-weight: 900;
    backface-visibility: visible;
    display: none;
}

#doctor_div{
    /*border: solid 1px green;*/
    height: 82vh;
    margin-bottom: 2%;
}
#doctor_div_inner{
    /*border: 1px red solid;*/
    margin: 1%;
    margin-top: 0px;
    height: 8%;
    display: flex;
}
#search{
    /*border: solid 1px red;*/
    width: 50%;
    display: flex;
    align-items: center;
}
#filter_div{
    /*border: solid 1px red;*/
    margin-left: 5%;
    width: 20%;
    margin-right: 2%;
    display: flex;
    color: #525252;
    height: 80%;
    border-radius: 7px;
    background-color: white;
    border: 1px solid #d4d4d4;
    overflow: auto;
}
#filter_icon{
    /*border: solid 1px red;*/
    width: 33%;
    align-content: center;
    text-align: center;
    font-size: 18px;
}
#filter_txt{
    /*border: solid 1px red;*/
    width: 67%;
    font-size: 16px;
    align-content: center;
    text-align: center;
    overflow: hidden;
}

#search_div_home{
    border: 1px solid #d4d4d4;
    margin-right: 1%;
    height: 80%;
    width: 50%;
    float: right;
    position: center;
    align-content: center;
    justify-content: center;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 8px;
}
#search_bar_home{
    display: flex;
    width: 90%;
    /*border: 2px red solid;*/
    height: 80%;
    margin-left: 3%;
    /*border: 1px;*/
    
}
#search_input_home{
    width: 90%;
    /*border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;*/
    border: 1px solid white;
    background-color: white;
    font-size: 15px;
}

#search_button_home{
    width: 20%;
    background: #e9e8e8;
    /*border: 1px solid black;*/
    border: 1px solid white;
    border-radius: 10px;
}
#search_button_home:hover{
    transform: scale(0.90);
}
#doctor_table_div{
    /*border: solid 1px red;*/
    margin: 1%;
    margin-top: 0px;
    height: 85%;
    background: white;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #b3b3b3;
}
#all_doctor_table{
    /*border: solid 1px red;*/
    margin-bottom: 1%;
    margin-top: 0px;
    height: 100%;
}
#doctor_tables_content{
    /*border: solid 1px black;*/
    border-bottom: solid 1px #cfcfcf;
    height: 90%;
    overflow: auto;
}
#myDoctorTable{
    background-color: inherit;
    width: 100%;
    margin-left: 0;

}
#myDoctorTable th {
    background-color: white;
    color: #1a6860;
    text-align: center;
    /*height: 5vh;*/
    border-bottom: solid 2px #d4d4d4;
}


#myDoctorTable tbody tr:hover {
    font-weight: 500;
    opacity: 0.98;
    transform: scale(1.0001);
    box-shadow: 1px 1px 3px #b3b3b3;
}
#myDoctorTable td {
    text-align: center;
    width: 150px;
    margin: 0 auto;
    height: 1vh;
}