#whole_container{
    display: flex;
    position: absolute;
    border: 5px green solid;
    width: 100%;
    height: 98vh;
    z-index: 10;
}
#side_panel{
    /*display: flexbox;*/
    position: relative;
    border: 2px solid red;
    width: 400px; 
    height: 98vh;
    z-index: 9;
    overflow: hidden;
    background-color: rgb(56, 186, 238);
    /*background-image: linear-gradient(to left, #5699db 0%, #277ebd 100%);*/
}
#dashboard_div{
    margin-top: 55px;
    border: 1px solid rgb(37, 32, 32);
    width: 95%;
    margin-left: 2.5%;
    height: 8vh;
    margin-bottom: 4%;
    display: flex;
    border-radius: 8px;
}
#dashboard{
    color: orange;
    font-family:Arial, Helvetica, sans-serif;
    font-stretch:ultra-expanded;
}
#dashboard_icon{
    background-image: url("../icons/png/filled/graphs/chart_bar.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    /*border-radius: 50%;*/
}
#inner_side_bar{
    border: 2px solid black;
    width: 98%;
    margin: 1%;
    height: 98vh;
    /*overflow-y: auto;*/
    z-index: 8;
}
#title_name{
    width:100%;
    text-align: center;
    border-bottom: 2px solid #a3d3d6;
    width: 90%;
    margin-left: 5%;
}
#title_text{
    color: white;
    font-size: 40px;
    font-style: oblique;
    font-family:Arial, Helvetica, sans-serif;
}

#items_in_sidebar{
    border-top: solid white 2px;
    border-bottom: solid white 2px;
    margin-top: 15%;
    height: 67.5vh;
    overflow-y: auto;
    z-index: 7;
}
#items_in_sidebar::-webkit-scrollbar{
    width: 10px;
    background-color: #f5f5f5;
}
#items_in_sidebar::-webkit-scrollbar-thumb{
    background-color: rgb(99, 96, 96);
    border-radius: 8px;
}

.items{
    border: 1px solid rgb(37, 32, 32);
    margin-top: 5%;
    width: 95%;
    margin-left: 2.5%;
    height: 8vh;
    margin-bottom: 4%;
    display: flex;
    border-radius: 8px;
    box-shadow: 2px 5px 8px #4697c9;
}
.items:hover{
    opacity: 40%;
    transform: scale(1.02);
    border: 1px solid white;
}

.icons{
    width: 25%;
    margin: 2%;
    /*border: solid 1px red;*/
    border-radius: 1%;
}
.items_in_sidebar_text{
    width: 70%;
    margin: 2%;
    /*border: solid 1px red;*/
}
#regions{

}
#region_icon{
    
}
.sidebar_text_text{
    text-align: center;
    color: white;
    font-weight: bolder;
    align-content: center;
}

#hospitals{

}
#hospitals_icon{
    background-image: url();
    background-size: contain;
    background-repeat: no-repeat;
}
#payment_icon{
    background-image: url("../icons/png/filled/objects/credit_card.png");
    background-repeat: no-repeat;
    background-position: center;
}
#order_icon{
    background-image: url("../icons/png/filled/symbols/excel_logo.png");
    background-repeat: no-repeat;
    background-position: center;
}
#appointment_icon{
    background-image: url("../icons/png/filled/symbols/calendar.png");
    background-repeat: no-repeat;
    background-position: center;
}
#doctors{

}

#patients{

}

#disease_icon{
    background-image: url("../icons/png/filled/conditions/pneumonia.png");
    background-repeat: no-repeat;
    background-position: center;
}

#medication_icon{
    background-image: url("../icons/png/filled/medications/medicines.png");
    background-repeat: no-repeat;
    background-position: center;
}

#content_container{
    border: 1px solid pink;
    background-color: white;
    width: 70%;
}
