#overview_div{
    background-color: #f7f7f7;
    color: black;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transform: scale(1.04);
}
#overview_text{
    color: orange;
}

#inner_content_container{
    /*border: solid 2px black;*/
    /*margin-top: 15vh;*/
    margin-left: 2%;
    width: 96%;
    height: 33vh;
    align-items: center;
    display: block;
    overflow-x: auto;
    
    /*margin-top: 4%;*/
}
#inner_content_container::-webkit-scrollbar{
    width: 12px;
    background-color: #38baee;
}
#inner_content_container::-webkit-scrollbar-thumb{
    background-color: #636060;
    border-radius: 8px;
}
#overview_txt{
    /*border: solid 1px red;*/
    height: 15%;
    align-content: center;
    margin: 1%;
    margin-top: 1%;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: #1a6860;
}
#dash_disp{
    /*border: solid 1px red;*/
    margin: 0;
    height: 24vh;
    width: 100%;
    /*align-content: center;*/
    overflow-y: auto;
    overflow-x: hidden;
}


#inner_content_container2{
    height: 24vh;
    display: inline-flex;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    animation: scroll-animation 30s linear infinite; 
}

@keyframes scroll-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-49%);
  }
}



#whole_content_div{
    /*border: solid black 1px;*/
    margin-top: 10px;
    margin-left: 3vh;
    row-gap: 5px;
    margin-bottom: 2px;
    width: 200px;
    height: 100px;
    border-radius: 6px;
    /*box-shadow: 2px 5px 8px #b7bbbd;*/
    overflow-y: auto;
}


.content_div{
    border: solid #EFEFEFEF 1px;
    /*border: solid 1px red;*/
    height: 21vh;
    margin: auto;
    margin-left: 1%;
    column-gap: 1%;
    width: 320px;
    position: relative;
    border-radius: 6px;
    background: white;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    
}
.content_div:hover{
    transform: scale(1.08);
    /*border: solid 1px black;*/
    box-shadow: 1px 1px 4px #9d9fa0;
}

.cont_name{
    /*border: solid 1px green;*/
    height: 7vh;
    margin-bottom: 4%;
    align-content: center;
    text-align: center;
    /*font-size: 35px;*/
    font-weight: 900;
    margin-bottom: 1.75vh;
    column-gap: 5%;
    display: flex;
    color: #1a6860;
}
.cont_name:hover{
    /*color: white;*/
}
.dash_icons{
    /*border: solid 1px red;*/
    height: 6vh;
    width: 6vh;
    margin: 2%;
    border-radius: 18px;
    align-content: center;
    /*background-color: #aeafaf;*/
}
.dash_txt{
    /*border: solid 1px red;*/
    width: 70%;
    height: 7vh;
    align-content: center;
    color: inherit;
    font-size: 24px;
    font-weight: 900;
}
.dash_overview_icons{
    /*border: solid BLUE 1px;*/
    background-size: contain;
    height: 90%;
    width: 90%;
    align-items: center;
    margin: auto;
    background-repeat: no-repeat;
    border-radius: 50%;
}
#dash_region_icon{
    background-image: url('../icons/png/outline/symbols/globe.png'); 
    background-repeat: no-repeat;
    background-position: center;
    
}
#dash_hosp_icon{
    background-image: url('../icons/png/outline/places/hospital.png');
    background-repeat: no-repeat;
    background-position: center
}
#dash_patient_icon{
    background-image: url('../icons/png/outline/people/person.png');
    background-size: contain;
    /*background-color: #e1b382;*/
}
#dash_medication_icon{
    background-image: url('../icons/png/outline/medications/medicines.png');
    background-size: contain;
    /*background-color: #8076a3;*/
}
#dash_doctor_icon{
    background-image: url('../icons/png/outline/people/doctor.png');
    background-size: contain;
    /*background-color: #2d545e;*/
}
#dash_disease_icon{
    background-image: url('../icons/png/outline/conditions/pneumonia.png');
    background-size: contain;
    /*background-color: #ff5e6c;*/
}
#dash_payment_icon{
    background-image: url('../icons/png/outline/objects/credit_card.png');
    background-size: contain;
    /*background-color: #7c677f;*/
}
#dash_order_icon{
    background-image: url('../icons/png/outline/vehicles/bike.png');
    background-size: contain;
    /*background-color: #9bc400*/;
}
#dash_appointment_icon{
    background-image: url('../icons/png/outline/symbols/calendar.png');
    background-size: contain;
}


.cont_count{
    /*border: solid 1px green;*/
    height: 7vh;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    text-align: center;
    align-content: center;
    font-size: 35px;
    font-weight: 700;
    color: #1a6860;
}


/*REGIONS DASHBOARD DIV*/
#regions_div{
    background: white;
    overflow: hidden;
    border: solid 1px #99DBD4;
    border-left: 3px solid #3fb3a7;
    
}
#regions_icons{
    background-color: #C6EBE7;
    border: 1px solid #99DBD4;
}
#regions_div:after{
    content: "";
    position: absolute;
    top: 100%; 
    /*left: 0;*/
    width: 100%;
    height: 100%;
    background: #1E1E2C; 
    transition: top 0.75s ease-in-out; 
    z-index: -1;
}
#regions_div:hover:after{
    top: 0;
}
#regions_div:hover *{
    color: white;
}

/*HOSPITAL DASHBOARD DIV*/
#hospitals_div{
    background: white;
    overflow: hidden;
    border: solid 1px #a28089;
    border-left: solid 3px #a28089;
}
#hospital_icons{
    background-color: #E7DFE1;
    border: 1px solid #C5B0B5;
}
#hospitals_div:after{
    content: "";
    position: absolute;
    top: 100%; 
    /*left: 0;*/
    width: 100%;
    height: 100%;
    background: #a28089; 
    transition: top 0.75s ease-in-out; 
    z-index: -1;
}
#hospitals_div:hover:after{
    top: 0;
}

/*DOCTORS DASHBOARD DIV*/
#doctors_div{
    background: white;
    overflow: hidden;
    border: solid 1px #2d545e;
    border-left: 3px solid #2d545e;
}
#doctor_icons{
    background-color: #D9E9ED;
    border: 1px solid #A2C9D2;
}
#doctors_div:after{
    content: "";
    position: absolute;
    top: 100%; 
    /*left: 0;*/
    width: 100%;
    height: 100%;
    background: #2d545e; 
    transition: top 0.75s ease-in-out; 
    z-index: -1;
    color: white;
    
}
#doctors_div:hover:after{
    top: 0; 
    
}
#doctors_div:hover * {
    color: white;
}

/*PATIENTS DASHBOARD DIV*/
#patients_div{
    background: white;
    overflow: hidden;
    border: solid 1px #e1b382;
    border-left: solid 3px #e1b382;
    
}
#patient_icons{
    background-color: #F4E3D2;
    border: 1px solid #E5BE94;
}
#patients_div:after{
    content: "";
    position: absolute;
    top: 100%; 
    /*left: 0;*/
    width: 100%;
    height: 100%;
    background: #e1b382; 
    transition: top 0.75s ease-in-out; 
    z-index: -1;
}
#patients_div:hover:after{
    top: 0;
}

/*DISEASES DASHBOARD DIV*/
#diseases_div{
    background: white;
    overflow: hidden;
    border: solid 1px #ff5e6c;
    border-left: solid 3px #ff5e6c;
}
#disease_icons{
    background-color: #FFC7CC;
    border: 1px solid #FF707D;
}
#diseases_div:after{
    content: "";
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff5e6c; 
    transition: top 0.75s ease-in-out; 
    z-index: -1;
}
#diseases_div:hover:after{
    top: 0;
}

/*MEDICATIONS DASHBOARD DIV*/
#medication_div{
    background: white;
    overflow: hidden;
    border: solid 1px #8076a3;
    border-left: solid 3px #8076a3;
}
#medication_icons{
    background-color: #E0DDE8;
    border: 1px solid #ADA7C4;
}
#medication_div:after{
    content: "";
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    height: 100%;
    background: #8076a3; 
    transition: top 0.75s ease-in-out; 
    z-index: -1;
}
#medication_div:hover:after{
    top: 0;
}

/*APPOINTMENTS  DASHBOARD DIV*/
#appointment_div{
    background: white;
    overflow: hidden;
    border: solid 1px #c89666;
    border-left: solid 3px #c89666;
}
#appointment_icons{
    background-color: #F0E2D6;
    border: 1px solid #D8B492;
}
#appointment_div:after{
    content: "";
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    height: 100%;
    background: #c89666; 
    transition: top 0.75s ease-in-out; 
    z-index: -1;
}
#appointment_div:hover:after{
    top: 0;
}

/*ORDERS  DASHBOARD DIV*/
#orders_div{
    background: white;
    overflow: hidden;
    border: solid 1px #9bc400;
    border-left: solid 3px #9bc400;
}
#order_icons{
    background-color: #E7FF8F;
    border: 1px solid #D6FF3D;
}
#orders_div:after{
    content: "";
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bc400; 
    transition: top 0.75s ease-in-out; 
    z-index: -1;
}
#orders_div:hover:after{
    top: 0;
}
#orders_div:hover * {
    color: white;
}

/*PAYMENT  DASHBOARD DIV*/
#payment_div{
    background: white;
    overflow: hidden;
    margin-right: 1%;
    border: solid 1px #7c677f;
    border-left: solid 3px #7c677f;
}
#payment_icons{
    background-color: #E0DAE1;
    border: 1px solid #C7BBC8;
}
#payment_div:after{
    content: "";
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    height: 100%;
    background: #7c677f; 
    transition: top 0.75s ease-in-out; 
    z-index: -1;
}
#payment_div:hover:after{
    top: 0;
}
#separator{
    /*border: solid 1px red;*/
    height: 6%;
    margin-top: 1%;
    display: flex;
    gap: 1%;
}
#first_line{
    /*border: solid 1px red;*/
    width: 33%;
    margin-left: 1%;
    display: block;
    align-content: center;
}
#inner_line_1{
    border: solid 2px #1a6860;
    margin-left: 3%;
    
}
#inner_line_2{
    border: solid 2px #1a6860;
    margin: 1%;

}
#stars{
    /*border: solid 1px red;*/
    width: 32%;
    display: flex;
    color: #1a6860;
}
#first_stars{
    /*border: solid 1px red;*/
    width: 33%;
    display: flex;
    font-size: 20px;
}
#inner_first_stars{
    /*border: solid 1px red;*/
    width: 33%;
    align-content: center;
    text-align: center;
    font-size: 23px;
    font-weight: 400;
}
#inner_second_stars{
    /*border: solid 1px red;*/
    width: 33%;
    align-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}
#inner_third_stars{
    /*border: solid 1px red;*/
    width: 33%;
    align-content: center;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
}

/*Middle*/
#middle_stars{
    /*border: solid 1px red;*/
    width: 33%;
    display: flex;
    align-content: center;
    text-align: center;
    font-size: 20px;
}
#middle_first_stars{
    /*border: solid 1px red;*/
    width: 33%;
    align-content: center;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}
#middle_second_stars{
    /*border: solid 1px red;*/
    width: 33%;
    align-content: center;
    text-align: center;
    font-size: 37px;
    font-weight: 900;
}
#middle_third_stars{
    /*border: solid 1px red;*/
    width: 33%;
    align-content: center;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

#last_stars{
    /*border: solid 1px red;*/
    width: 33%;
    display: flex;
    font-size: 20px;
}
#last_first_stars{
    /*border: solid 1px red;*/
    width: 33%;
    align-content: center;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
}
#last_second_stars{
    /*border: solid 1px red;*/
    width: 33%;
    align-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}
#last_third_stars{
    /*border: solid 1px red;*/
    width: 33%;
    align-content: center;
    text-align: center;
    font-size: 23px;
    font-weight: 400;
}

#last_line{
    /*border: solid 1px red;*/
    width: 30%;
    display: block;
    align-content: center;
}
#website_stats{
    /*border: solid 1px green;*/
    height: 75vh;
    margin-bottom: 2%;
}
#website_stats_2{
    /*border: solid 1px red;*/
    height: 80vh;
    margin-top: 0px;
}
#unapproved_orders_table{
    /*border: solid 1px red;*/
    margin-bottom: 1%;
    margin-top: 0px;
    height: 98%;
}
#order_tables_content{
    /*border: solid 1px red;*/
    border-bottom: solid 1px #cfcfcf;
    height: 90%;
    overflow: auto;
    overflow-x: hidden;
}
#server_stats_1{
    /*border: 1px red solid;*/
    margin: 1%;
    margin-top: 0px;
    height: 8%;
    display: flex;
}
#pagination{
    /*border: 1px black solid;*/
}
#myOrderTable{
    background-color: inherit;
    width: 100%;
    margin-left: 0;
    overflow-y: hidden;
}
#myOrderTable th {
    background-color: white;
    color: #1a6860;
    text-align: center;
    /*height: 5vh;*/
    border-bottom: solid 2px #d4d4d4;
}

#myOrderTable tbody tr:hover {
    font-weight: 500;
    opacity: 0.98;
    transform: scale(1.0001);
    box-shadow: 1px 1px 3px #b3b3b3;
    
}
#myOrderTable td {
    text-align: center;
    width: 150px;
    margin: 0 auto;
    height: 1vh;
    
}






#placed_orders {
    /*border: solid 1px red;*/
    margin: 1%;
    margin-top: 0px;
    height: 85%;
    background: white;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #b3b3b3;
    overflow-y: hidden;
   
}
#server_stats{
    /*border: 1px red solid;*/
    margin: 1%;
    height: 8%;
}
#server_stat_txt{
    /*border: solid 1px red;*/
    width: 50%;
    margin-left: 1%;
    height: 100%;
    align-content: center;
    font-size: 24px;
    color: #1a6860;
    font-weight: 900;
}
#server_stats_1{
    margin: 1%;
    margin-top: 0;
    height: 8%;
}
#server_stats_2{
    border-top: 3px #1a6860 solid;
    margin: 1%;
    margin-top: 0;
    height: 8%;
}
#server_stat_txt_1{
    width: 50%;
    margin-left: 1%;
    height: 100%;
    align-content: center;
    font-size: 24px;
    color: #1a6860;
    font-weight: 900;
}


#search{
/*    border: solid 1px red;*/
    width: 50%;
    display: flex;
    align-items: center;
}
#filter_div{
    /*border: solid 1px red;*/
    margin-left: 32%;
    width: 15%;
    margin-right: 2%;
    display: flex;
    color: #525252;
    height: 90%;
    border-radius: 7px;
    background-color: white;
    border: 1px solid #d4d4d4;
    overflow: auto;
}
#filter_icon{
    /*border: solid 1px red;*/
    width: 33%;
    align-content: center;
    text-align: center;
    font-size: 17px;
}
#filter_txt{
    /*border: solid 1px red;*/
    width: 67%;
    font-size: 15px;
    align-content: center;
    text-align: center;
    overflow: hidden;
}


#search_div_home{
    border: 1px solid #d4d4d4;
    margin-right: 1%;
    height: 90%;
    width: 50%;
    float: right;
    position: center;
    align-content: center;
    justify-content: center;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 8px;
}
#search_bar_home{
    display: flex;
    width: 90%;
    /*border: 2px red solid;*/
    height: 80%;
    margin-left: 3%;
    /*border: 1px;*/
    
}
#search_input_home{
    width: 90%;
    /*border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;*/
    border: 1px solid white;
    background-color: white;
    font-size: 15px;
}

#search_button_home{
    width: 20%;
    background: white;
    font-size: 10px;
    /*border: 1px solid black;*/
    border: 1px solid white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#search_button_home:hover{
    opacity: 0.75;
    color: #1a6860;
}


#chat_bot_div{
    margin: 1%;
    height: 60px;
    align-content: center;
    margin-top: 52vh;
    position: sticky;
    bottom: 0;
}

#chat_bot{
    border: solid 1px #1a6860;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: right;
    align-content: center;
    text-align: center;
    font-size: 20px;
    background-color: #aeafaf;
    animation: glow 2s infinite alternate;
}
@keyframes glow {
    from {
        box-shadow: 1 0 0 1px #2d545e, 0 0 0 4px #835460, 0 0 0 8px #4caf50; 
      }
      to {
        box-shadow: 0 0 0 1px #4caf50, 0 0 0 4px #866443, 0 0 0 8px #beef00;
      }
}
#chat_bot:hover{
    transform: scale(1.05);
}


#requests_graph_div{
    /*border: solid 1px red;*/
    margin: 1%;
    margin-top: 0px;
    height: 85%;
    background: white;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #b3b3b3;
    overflow: auto;
    
}

#line_graph{
    /*border: solid 1px red;*/
    margin: 2%;
    margin-top: 1%;
    height: 600px;
    width: 1480px;
    overflow: auto;
    overflow-y: hidden;
}