#hospitals{
    background-color: #f7f7f7;
    color: black;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transform: scale(1.04);
}
#hospital_text{
    color: orange;
}
#content_div{
    position: relative;
    margin-top: 0;
    width: 100%;
    display: block;
    height: 89vh;
    /*margin-left: 1.25%;*/
    /*margin-bottom: 2.5vh;
    margin-top: 1.5vh;
    background: aliceblue;
    /*background: white;*/
    overflow: auto;
    /*border: 1px solid red;*/

}

#profile_background{
    /*border: solid 1px red;*/
    height: 45%;
    display: block;
}
#hosp_title{
    /*border: 1px solid red;*/
    display: flex;
    height: 12%;
    align-content: center;
    margin: 1%;
    font-size: 20px;
    font-weight: 900;
    color: #1a6860;
}
#nav_arrow{
    height: 100%;
    margin-top: 0;
    margin-left: 1px;
    width: 4%;
    /*border: 1px solid red;*/
    /*border-right: solid 1px #d8d8d8;*/
    align-content: center;
}
#nav_arrow:hover{
    color: #38baae;
    transform: scale(1.05);
}

#title_header{
    /*border: solid red 1px;*/
    align-content: center;
    margin-left: 30%;
}


#backgrond_photo{
    position: relative;
    border: 2px solid white;
    height: 12%;
    /*align-content: center;*/
    margin: 1%;
    height: 75%;
    background-image: url("../icons/best-hospital-for-infectious-disease-in-kochi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#inner_div{
    position: relative;
    /*: solid 1px red;*/
    height: 20%;
    margin-top: 23vh;
    align-content: center;
}

#edit_text{
    width: 30%;
    font-size: 15px;
}
#profile_photo{
    position: absolute;
    border: solid 2px white;
    height: 150px;
    width: 150px;
    margin: 2%;
    margin-top: 18vh;
    margin-left: 5%;
    border-radius: 50%;
}
#profile_photo:hover{
    transform: scale(1.01);
}
#hospital_icon_1{
    /*border: 1px solid red;*/
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgb(248, 248, 248);
    /*border-radius: ;*/
    align-content: center;
}
#h_icon{
    border: 1px solid #d8d8d8;
    border-radius: 95%;
    height: 90%;
    width: 95%;
    margin: auto;
    align-content: center;
    text-align: center;
    color: #d8d8d8;
    background-color: aliceblue;
    /*box-shadow: -0px -1px 2px #8c8f91;*/
}
#hospital_profile_icon{
    background-image: url('../icons/hospital.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 95%;
    background-position: center;
    height: 95%;
    width: 95%;
    margin: auto;
    align-content: center;
    text-align: center;
    color: #d8d8d8;
}



/*NAVIGATION PANEL DIVS*/

#navigation_panel{
    /*border: solid 1px red;*/
    height: 9%;
    margin-top: 3%;
    margin-bottom: 3%;
    /*position: sticky;
    top: 0;*/
    
}
#inner_nav_panel{
    
    border: solid 1px #cfcfcf;
    margin: 1%;
    margin-top: 10px;
    height: 75%;
    display: flex;
    justify-content: center;
    gap: 12%;
    background: white;
}
.route{
    /*border: 1px solid red;*/
    margin: 5px;
    text-align: center;
    align-content: center;
    color: #1a6860;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.route:hover{
    color: #38baae;
}

/*ABOUT HOSPITAL DIV*/

#about_div{
    /*border: 1px solid red;*/
    height: 50%;
    margin-top: 1%;
    
}
#about_div_header{
    background: white;
    /*border: solid 1px red;*/
    border-top: solid 3px #1a6860;
    border-bottom: 1px solid #cfcfcf;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 1%;
    height: 20%;
    display: flex;
    gap: 2%;
    color: #1a6860;
    margin-bottom: 0px;
}
#head_text{
    /*border: 1px red solid;*/
    width: 50%;
    align-content: center;
    font-size: 18px;
    font-weight: 600;
}
#txt_hosp{
    margin: 1%;
}

#edit_text{
    /*border: 1px red solid;*/
    width: 50%;
    align-content: center;
}
#edit_button{
    display: flex;
    float: right;
    height: 40px;
    width: 40px;
    margin-right: 2%;
    justify-content: center;
    align-items: center;
    background: #1a6860;
    border-radius: 8px;
    border: 1px #1a6860 solid;
    color: white;
}
#edit_button:hover{
    background: black;
}

#about_content{
    /*border: solid 1px red;*/
    margin: 1%;
    margin-top: 0px;
    height: 72.5%;
    background: white;
    display: flex;
    overflow: auto;
}

.about_content_inner{
    /*border: 1px solid red;*/
    width: 50%;
    display: block;
    overflow: auto;
}
.about_content_data{
    /*border: 1px solid red;*/
    border-bottom: solid 1px #cfcfcf;
    margin: 1%;
    height: 25%;
    margin-bottom: 1%;
    display: flex;
}
.data_name{
    /*border: 1px solid red;*/
    margin: 1%;
    width: 30%;
    align-content: center;
    text-align: center;
    word-spacing: 2px;
    font-weight: 600;
    color: #1a6860;
    overflow-x: auto;
}
.data_data{
    /*border: 1px solid red;*/
    margin: 1%;
    width: 70%;
    align-content: center;
    text-align: center;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow-x: auto;
}

/*DESCRIPTION DIV*/

#hosp_description{
    /*border: solid 1px red;*/
    margin-top: 3%;
    height: 30%;
    overflow: auto;
}
#short_description{
    border: 1px solid white;
    margin: 1%;
    margin-top: 0;
    height: 70%;
    background-color: white;
    /*box-shadow: 1px 1px 6px #8c8f91;*/
}
#short_description_text{
    /*border: solid 1px red;*/
    margin: 1%;
    height: 70%;
    padding: 10px;
    padding-top: 15px;
    overflow: auto;
    font-size: 18px;
    word-spacing: 1px;
    
}

/*NEW DOCTORS DIV */
#hosp_doctors{
    /*border: solid 1px red;*/
    margin-top: 1%;
    height: 60vh;
    overflow: auto;
    
}
#about_div_header_1{
    background: white;
    /*border: solid 1px red;*/
    border-bottom: 1px solid #cfcfcf;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 1%;
    height: 20%;
    display: flex;
    gap: 2%;
    color: #1a6860;
    margin-bottom: 0px;
}
#doctor_div{
    /*border: solid 1px red;*/
    margin: 1%;
    margin-left: 1.25%;
    background: white;
    overflow: auto;
    height: 55vh;
    /*border-radius: 8px;*/
    box-shadow: 1px 1px 3px #8c8f91;
    border-top: solid 3px #1a6860;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#doctors_title{
    border: solid 1px red;
    font-size: 22px;
    font-weight: 700;
    margin: 1%;
    margin-left: 15px;
    color: #1a6860;
}
#new_dkt{
    
    width: 50%;
    align-content: center;
}
#add_icon{
    display: flex;
    float: right;
    height: 50px;
    width: 50px;
    margin-right: 1%;
    justify-content: center;
    align-items: center;
    background: #1a6860;
    border-radius: 50%;
    border: 2px aliceblue solid;
    color: white;
    font-size: 25px;
}
#add_icon:hover{
    transform: scale(1.05);
    color: white;
    background: black;
}

/*NEW DOCTOR DIV*/
#new_doctor{
    background: #f7f7f7;
    border: 1px solid #cfcfcf;
    position: absolute;
    height: 92vh;
    width: 100%;
    display: none;
    z-index: 11;
}
#header_input{
    height: 8%;
    text-align: center;
    align-content: center;
    font-weight: 900;
    font-size: 24px;
    color: #1a6860;
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: solid 1px #b4b4b4;
}
#new_doctor_header{
    /*border: solid 1px red;*/
    width: 100%;
    align-content: center;
}
#back_arrow{
    /*border: 1px solid red;*/
    width: 8%;
    align-content: center;
}
#back_arrow:hover{
    color: #38baee;
    transform: scale(1.05);
}

#exit_div{
    /*border: solid 1px red;*/
    margin: 2%;
    margin-top: 1%;
    height: 6%;
    /*border-top: 1px solid #1a6860;*/
    justify-content: center;
    align-content: center;
}
#form_div{
    border-left: 1px solid #9b9a9a;
    border-right: 1px solid #9b9a9a;
    border-bottom: 1px solid #9b9a9a;
    margin: 1%;
    height: 88vh;
    background-color: white;
    overflow: auto;
    border-radius: 8px;
    border-top: 2px solid #1a6860;
}

#newDoctorForm{
    margin: 2%;
    margin-top: 3%;
    overflow: auto;
    height: 60vh;
    border-bottom: 1px #9b9a9a solid;
    
}
.doctor_data_form{
    margin: 1%;
    padding-left: 1%;
    border-bottom: 0.5px solid #eeeeee;
    /*box-shadow: 1px 1px 0px #464747;*/
}

.input{
    width: 80%;
    height: 35px;
    font-size: 20px;
    border: 1px solid;
}
.input_name{
    font-size: 24px;
}

#inner_exit_div {
    /*border: 1px solid red;*/
    margin: 1%;
    /*margin-top: 1%;*/
    height: 70%;
    align-content: center;
    justify-items: center;
    display: flex;
}

.inner_exit_div_button{
    height: 35px;
    width: 140px;
    font-size: 18px;

}

.inner_button_div{
    width: 50%;
    align-content: center;
    text-align: center;
}

#exit_hospital_form_button{
    color: white;
    background: red;
    border: 1px solid red;
    border-radius: 4px;
    overflow:hidden;
    font-weight: 700;
    font-size: 18px;
}
#exit_hospital_form_button:hover{
    color: wheat;
    transform: scale(1.002);
    box-shadow: 1px 1px 4px #9b9a9a;
}

#save_button{
    background: #1a6860;
    border-radius: 4px;
    border: 1px solid #1a6860;
    color: white;
    font-weight: 700;
    font-size: 18px;
}
#save_button:hover{
    color: wheat;
    transform: scale(1.002);
    box-shadow: 1px 1px 4px #9b9a9a;
}
#myDoctorTable{
    background-color: inherit;
    width: 100%;
    margin-left: 0;

}
#myDoctorTable th {
    background-color: white;
    color: #1a6860;
    text-align: center;
    /*height: 5vh;*/
    border-bottom: solid 2px #d4d4d4;
}


#myDoctorTable tbody tr:hover {
    font-weight: 500;
    opacity: 0.98;
    transform: scale(1.0001);
    box-shadow: 1px 1px 3px #b3b3b3;
}
#myDoctorTable td {
    text-align: center;
    width: 150px;
    margin: 0 auto;
    height: 1vh;
}
#doctor_table_div{
    border-top: solid 1px #9b9a9a;
    /*margin: 1%;*/
    margin-top: 2%;
    height: 85%;
    background: white;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #b3b3b3;
    overflow: auto;
}
#doctor_div_inner{
    /*border: 1px red solid;*/
    margin: 1%;
    margin-top: 1%;
    height: 12%;
    display: flex;
}
#search{
    /*border: solid 1px red;*/
    width: 50%;
    display: flex;
    align-items: center;
}
#search_div_home{
    border: 1px solid #d4d4d4;
    margin-right: 1%;
    height: 80%;
    width: 50%;
    float: right;
    position: center;
    align-content: center;
    justify-content: center;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 8px;
}
#search_bar_home{
    display: flex;
    width: 90%;
    /*border: 2px red solid;*/
    height: 80%;
    margin-left: 3%;
    /*border: 1px;*/
    
}
#search_input_home{
    width: 90%;
    /*border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;*/
    border: 1px solid white;
    background-color: white;
    font-size: 15px;
}

#search_button_home{
    width: 20%;
    background: #e9e8e8;
    /*border: 1px solid black;*/
    border: 1px solid white;
    border-radius: 10px;
}
#search_button_home:hover{
    transform: scale(0.90);
}
#confirmation_div{
    border: solid 1px #9b9a9a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 550px;
    background: white;
    display: none;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #9b9a9a;
}
#confirmation_text{
    /*border: solid 1px red;*/
    height: 50%;
    margin: 1%;
    align-content: center;
    margin-bottom: 3%;
}
#confirmation_text_text{
    /*border: solid 1px red;*/
    margin: 1%;
    height: 35%;
    text-align: center;
    align-content: center;
    font-size: 24px;
    font-weight: 700;
    color: #1a6860;
}
#confirmation_buttons{
    /*border: solid 1px red;*/
    height: 30%;
    margin: 1%;
    align-content: center;
}
#confirmation_buttons_inner{
    /*border: 1px solid red;*/
    align-content: center;
    height: 80%;
    margin: 1%;
    text-align: center;
}
#no_button{
    border: 1px solid red;
    width: 90px;
    height: 30px;
    border-radius: 4px; 
    background-color: #FF2C2C;
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-right: 3%;
    
}
#yes_button{
    border: 1px solid #1a6860;
    width: 90px;
    height: 30px;
    border-radius: 4px;
    background-color: #1a6860;
    color: white;
    font-weight: 700;
    font-size: 18px;
}
#no_button:hover{
    color: wheat;
    transform: scale(1.002);
    box-shadow: 1px 1px 4px #9b9a9a;
}
#yes_button:hover{
    color: wheat;
    transform: scale(1.002);
    box-shadow: 1px 1px 4px #9b9a9a;
}
#returned_info{
    border: solid 1px #9b9a9a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 550px;
    background: white;
    display: none;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #9b9a9a;
}
#ok_button{
    border: 1px solid #1a6860;
    width: 90px;
    height: 30px;
    border-radius: 4px;
    background-color: #1a6860;
    color: white;
    font-weight: 700;
    font-size: 18px;
}
#ok_button:hover{
    color: wheat;
    transform: scale(1.002);
    box-shadow: 1px 1px 4px #9b9a9a;
}
#saved_confirmation_text_text{
    margin: 1%;
    height: 35%;
    text-align: center;
    align-content: center;
    font-size: 24px;
    font-weight: 700;
    color: #1a6860;
}