#hospitals{
    background-color: #f7f7f7;
    color: black;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transform: scale(1.04);
}
#hospital_text{
    color: orange;
}


#new_hospital{
    background: #f7f7f7;
    /*border: 1px solid red;*/
    position: absolute;
    height: 89;
    /*margin-left: 1%;*/
    /*margin-top: 2vh;*/
    width: 100%;
    display: none;
    /*border-radius: 8px;*/
    z-index: 8;
}
#header_input{
    /*border: solid 1px red;*/
    height: 8%;
    text-align: center;
    align-content: center;
    font-weight: 900;
    font-size: 24px;
    color: #1a6860;
    display: flex;
    border-top: 2px solid #1a6860;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: solid 1px #b4b4b4;
} 
#back_arrow{
    /*border: 1px solid red;*/
    width: 8%;
    align-content: center;
}
#back_arrow:hover{
    color: #38baee;
    transform: scale(1.05);
}
#new_hosp_header{
    /*border: solid 1px red;*/
    width: 100%;
    align-content: center;
}

/*EXIT DIV*/
#exit_div{
    /*border: solid 1px red;*/
    margin: 2%;
    margin-top: 1%;
    height: 6%;
    /*border-top: 1px solid #1a6860;*/
    justify-content: center;
    align-content: center;
}
#form_div{
    border-left: 1px solid #9b9a9a;
    border-right: 1px solid #9b9a9a;
    border-bottom: 1px solid #9b9a9a;
    margin: 1%;
    height: 88vh;
    background-color: white;
    overflow: auto;
    border-radius: 8px;
    /*box-shadow: 1px 1px 3px #464747;*/
    
}
/*#1a6860*/*
#newHospitalForm{
    border-bottom: 1px solid #1a6860;
    margin: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
    height: 69vh;
    overflow: auto;
    /*border-radius: 5px;*/
    
}
.hosital_data_form{
    margin: 2%;
    padding-left: 1%;
    border: 0.5px solid #b4b4b4;
    /*box-shadow: 1px 1px 0px #464747;*/
}

.input{
    width: 80%;
    height: 35px;
    font-size: 20px;
    border: 1px solid;
}
.input_name{
    font-size: 24px;
    color: #1a6860;
}

#inner_exit_div {
    /*border: 1px solid red;*/
    margin: 1%;
    /*margin-top: 1%;*/
    height: 70%;
    align-content: center;
    justify-items: center;
    display: flex;
}

.inner_exit_div_button{
    height: 35px;
    width: 140px;
    font-size: 18px;
}

.inner_button_div{
    /*border: 1px solid red;*/
    width: 50%;
    align-content: center;
    text-align: center;
}
#exit_hospital_form_button{
    color: white;
    background: red;
    border: 1px solid red;
    border-radius: 4px;
    overflow:hidden;
    font-weight: 700;
    font-size: 18px;
}
#exit_hospital_form_button:hover{
    color: wheat;
    transform: scale(1.002);
    box-shadow: 1px 1px 4px #9b9a9a;
}

#save_button{
    background: #1a6860;
    border-radius: 4px;
    border: 1px solid #1a6860;
    color: white;
    font-weight: 700;
    font-size: 18px;
}
#save_button:hover{
    color: wheat;
    transform: scale(1.002);
    box-shadow: 1px 1px 4px #9b9a9a;
}

#county_select{
    background-color: white;
}
#constituency_select{
    background-color: white;
}
#town_select{
    background-color: white;
}
.select_input_div{

}
#hospital_div{
    /*border: solid 1px green;*/
    height: 82vh;
    margin-bottom: 2%;
}
#hospital_div_inner{
    /*border: 1px red solid;*/
    margin: 1%;
    margin-top: 0px;
    height: 8%;
    display: flex;
}
#search{
    /*border: solid 1px red;*/
    width: 50%;
    display: flex;
    align-items: center;
}
#filter_div{
    /*border: solid 1px red;*/
    margin-left: 5%;
    width: 20%;
    margin-right: 2%;
    display: flex;
    color: #525252;
    height: 90%;
    border-radius: 7px;
    background-color: white;
    border: 1px solid #d4d4d4;
    overflow: auto;
}
#filter_icon{
    /*border: solid 1px red;*/
    width: 33%;
    align-content: center;
    text-align: center;
    font-size: 18px;
}
#filter_txt{
    /*border: solid 1px red;*/
    width: 67%;
    font-size: 16px;
    align-content: center;
    text-align: center;
    overflow: hidden;
}

#search_div_home{
    border: 1px solid #d4d4d4;
    margin-right: 1%;
    height: 90%;
    width: 50%;
    float: right;
    position: center;
    align-content: center;
    justify-content: center;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 8px;
}
#search_bar_home{
    display: flex;
    width: 90%;
    /*border: 2px red solid;*/
    height: 80%;
    margin-left: 3%;
    /*border: 1px;*/
    
}
#search_input_home{
    width: 90%;
    /*border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;*/
    border: 1px solid white;
    background-color: white;
    font-size: 15px;
}

#delete_div{
    /*border: solid 1px red;*/
    width: 50%;
    align-content: center;
}
#delete_button{
    border: 1px solid red;
    display: flex;
    float: right;
    color: white;
    background: red;
    /*border: 1px solid black;*/
    height: 37px;
    border-radius: 4px;
    overflow:hidden;
    font-weight: 700;
    font-size: 18px;
}
#delete_button:hover{
    color: wheat;
    transform: scale(1.002);
    box-shadow: 1px 1px 4px #9b9a9a;
}
#delete_icon{
    /*border: 1px solid black;*/
    height: 35px;
    align-content: center;
    margin-left: 0%;
    font-size: 16px;
    width: 20px;
}
#delete_txt{
    /*border: 1px solid black;*/
    height: 35px;
    align-content: center;
    margin-left: 4px;
}

#search_button_home{
    width: 20%;
    background: white;
    /*border: 1px solid black;*/
    border: 1px solid white;
    border-radius: 10px;
}
#search_button_home:hover{
    transform: scale(0.90);
    opacity: 0.75;
    color: #1a6860;
}
#hospital_table_div{
    /*border: solid 1px red;*/
    margin: 1%;
    margin-top: 0px;
    height: 85%;
    background: white;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #b3b3b3;
}
#all_hospital_table{
    /*border: solid 1px red;*/
    margin-bottom: 1%;
    margin-top: 0px;
    height: 100%;
}
#hospital_tables_content{
    /*border: solid 1px black;*/
    border-bottom: solid 1px #cfcfcf;
    height: 90%;
    overflow: auto;
}
#myHospitalTable{
    background-color: inherit;
    width: 100%;
    margin-left: 0;

}
#myHospitalTable th {
    background-color: white;
    color: #1a6860;
    text-align: center;
    /*height: 5vh;*/
    border-bottom: solid 2px #d4d4d4;
}


#myHospitalTable tbody tr:hover {
    font-weight: 500;
    opacity: 0.98;
    transform: scale(1.0001);
    box-shadow: 1px 1px 3px #b3b3b3;
}
#myHospitalTable td {
    text-align: center;
    width: 150px;
    margin: 0 auto;
    height: 1vh;
}


#confirmation_div{
    border: solid 1px #9b9a9a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 550px;
    background: white;
    display: none;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #9b9a9a;
}
#confirmation_text{
    /*border: solid 1px red;*/
    height: 50%;
    margin: 1%;
    align-content: center;
    margin-bottom: 3%;
}
#confirmation_text_text{
    /*border: solid 1px red;*/
    margin: 1%;
    height: 35%;
    text-align: center;
    align-content: center;
    font-size: 24px;
    font-weight: 700;
    color: #1a6860;
}
#confirmation_buttons{
    /*border: solid 1px red;*/
    height: 30%;
    margin: 1%;
    align-content: center;
}
#confirmation_buttons_inner{
    /*border: 1px solid red;*/
    align-content: center;
    height: 80%;
    margin: 1%;
    text-align: center;
}
#no_button{
    border: 1px solid red;
    width: 90px;
    height: 30px;
    border-radius: 4px; 
    background-color: #FF2C2C;
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-right: 3%;
    
}
#yes_button{
    border: 1px solid #1a6860;
    width: 90px;
    height: 30px;
    border-radius: 4px;
    background-color: #1a6860;
    color: white;
    font-weight: 700;
    font-size: 18px;
}
#no_button:hover{
    color: wheat;
    transform: scale(1.002);
    box-shadow: 1px 1px 4px #9b9a9a;
}
#yes_button:hover{
    color: wheat;
    transform: scale(1.002);
    box-shadow: 1px 1px 4px #9b9a9a;
}

#delete_confirmation_div{
    border: solid 1px #9b9a9a;
    z-index: 30;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 550px;
    background: white;
    display: none;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #9b9a9a;
}
#delete_confirmation_text{
    /*border: solid 1px red;*/
    height: 50%;
    margin: 1%;
    align-content: center;
    margin-bottom: 3%;
}
#delete_confirmation_text_text{
    /*border: solid 1px red;*/
    margin: 1%;
    height: 35%;
    text-align: center;
    align-content: center;
    font-size: 24px;
    font-weight: 700;
    color: red;
}
#delete_confirmation_buttons{
    /*border: solid 1px red;*/
    height: 30%;
    margin: 1%;
    align-content: center;
}
#delete_confirmation_buttons_inner{
    /*border: 1px solid red;*/
    align-content: center;
    height: 80%;
    margin: 1%;
    text-align: center;
}
#delete_no_button{
    border: 1px solid red;
    width: 90px;
    height: 30px;
    border-radius: 4px; 
    background-color: #FF2C2C;
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-right: 3%;
    
}
#delete_yes_button{
    border: 1px solid #1a6860;
    width: 90px;
    height: 30px;
    border-radius: 4px;
    background-color: #1a6860;
    color: white;
    font-weight: 700;
    font-size: 18px;
}
#delete_no_button:hover{
    color: wheat;
    transform: scale(1.002);
    box-shadow: 1px 1px 4px #9b9a9a;
}
#delete_yes_button:hover{
    color: wheat;
    transform: scale(1.002);
    box-shadow: 1px 1px 4px #9b9a9a;
}



#returned_info{
    border: solid 1px #9b9a9a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 550px;
    background: white;
    display: none;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #9b9a9a;
}
#ok_button{
    border: 1px solid #1a6860;
    width: 90px;
    height: 30px;
    border-radius: 4px;
    background-color: #1a6860;
    color: white;
    font-weight: 700;
    font-size: 18px;
}
#ok_button:hover{
    color: wheat;
    transform: scale(1.002);
    box-shadow: 1px 1px 4px #9b9a9a;
}
#saved_confirmation_text_text{
    margin: 1%;
    height: 35%;
    text-align: center;
    align-content: center;
    font-size: 24px;
    font-weight: 700;
    color: #1a6860;
}
#delete_returned_info{
    border: solid 1px #9b9a9a;
    z-index: 30;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 550px;
    background: white;
    display: none;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #9b9a9a;
}
#delete_ok_button{
    border: 1px solid #1a6860;
    width: 90px;
    height: 30px;
    border-radius: 4px;
    background-color: #1a6860;
    color: white;
    font-weight: 700;
    font-size: 18px;
}
#delete_ok_button:hover{
    color: wheat;
    transform: scale(1.002);
    box-shadow: 1px 1px 4px #9b9a9a;
}
#delete_saved_confirmation_text_text{
    margin: 1%;
    height: 35%;
    text-align: center;
    align-content: center;
    font-size: 24px;
    font-weight: 700;
    color: #1a6860;
}