#patients{
    background-color: #A7DFF1;
    border: solid 1px #d1f2fd;
    transform: scale(1.01);
}
#patient_text{
    color: #1a6860;
}

#patient_div{
    /*border: solid 1px green;*/
    height: 82vh;
    margin-bottom: 2%;
}
#patient_div_inner{
    /*border: 1px red solid;*/
    margin: 1%;
    margin-top: 0px;
    height: 8%;
    display: flex;
}
#search{
    /*border: solid 1px red;*/
    width: 50%;
    display: flex;
    align-items: center;
}
#delete_div{
    /*border: solid 1px red;*/
    width: 50%;
    align-content: center;
}
#filter_div{
    /*border: solid 1px red;*/
    margin-left: 5%;
    width: 20%;
    margin-right: 2%;
    display: flex;
    color: #525252;
    height: 90%;
    border-radius: 7px;
    background-color: white;
    border: 1px solid #d4d4d4;
    overflow: auto;
}
#filter_icon{
    /*border: solid 1px red;*/
    width: 33%;
    align-content: center;
    text-align: center;
    font-size: 18px;
}
#filter_txt{
    /*border: solid 1px red;*/
    width: 67%;
    font-size: 16px;
    align-content: center;
    text-align: center;
    overflow: hidden;
}

#search_div_home{
    border: 1px solid #d4d4d4;
    margin-right: 1%;
    height: 90%;
    width: 50%;
    float: right;
    position: center;
    align-content: center;
    justify-content: center;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 8px;
}
#search_bar_home{
    display: flex;
    width: 90%;
    /*border: 2px red solid;*/
    height: 80%;
    margin-left: 3%;
    /*border: 1px;*/
    
}
#search_input_home{
    width: 90%;
    /*border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;*/
    border: 1px solid white;
    background-color: white;
    font-size: 15px;
    outline: #1a6860;
}

#search_button_home{
    width: 20%;
    background: white;
    /*border: 1px solid black;*/
    border: 1px solid white;
    border-radius: 10px;
}
#search_button_home:hover{
    transform: scale(0.90);
    opacity: 0.75;
    color: #1a6860;
}
#patient_table_div{
    /*border: solid 1px red;*/
    margin: 1%;
    margin-top: 0px;
    height: 85%;
    background: white;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #b3b3b3;
}
#all_patient_table{
    /*border: solid 1px red;*/
    margin-bottom: 1%;
    margin-top: 0px;
    height: 100%;
}
#patient_tables_content{
    /*border: solid 1px black;*/
    border-bottom: solid 1px #cfcfcf;
    height: 90%;
    overflow: auto;
    overflow-x: hidden;
}
#myPatientTable{
    background-color: inherit;
    width: 100%;
    margin-left: 0;

}
#myPatientTable th {
    background-color: white;
    color: #1a6860;
    text-align: left;
    /*height: 5vh;*/
    border-bottom: solid 2px #d4d4d4;
}


#myPatientTable tbody tr:hover {
    font-weight: 500;
    opacity: 0.98;
    transform: scale(1.0001);
    box-shadow: 1px 1px 3px #b3b3b3;
}
#myPatientTable td {
    text-align: left;
    width: 150px;
    margin: 0 auto;
    height: 1vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

#confirmation_div{
    border: solid 1px #9b9a9a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 550px;
    background: white;
    display: none;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #9b9a9a;
}

#confirmation_text_text{
    /*border: solid 1px red;*/
    margin: 1%;
    height: 35%;
    text-align: center;
    align-content: center;
    font-size: 24px;
    font-weight: 700;
    color: red;
}

#confirmation_buttons_inner{
    /*border: 1px solid red;*/
    align-content: center;
    height: 80%;
    margin: 1%;
    text-align: center;
}
#no_button{
    border: 1px solid red;
    width: 90px;
    height: 30px;
    border-radius: 4px; 
    background-color: #FF2C2C;
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-right: 3%;
    
}
#yes_button{
    border: 1px solid #1a6860;
    width: 90px;
    height: 30px;
    border-radius: 4px;
    background-color: #1a6860;
    color: white;
    font-weight: 700;
    font-size: 18px;
}
#no_button:hover{
    color: wheat;
    transform: scale(1.002);
    box-shadow: 1px 1px 4px #9b9a9a;
}
#yes_button:hover{
    color: wheat;
    transform: scale(1.002);
    box-shadow: 1px 1px 4px #9b9a9a;
}

/*ORDER STATUS DIV*/
#user_status_div{
    /*border: solid 1px red;*/
    display: none;
    border: 1px solid #B8B8B8;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 550px;
    background: white;
    z-index: 50;
    box-shadow: 2px 2px 8px #b3b3b3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#user_id_top{
    /*border: 1px solid red;*/
    margin: 1%;
    height: 10%;
    display: flex;
    align-content: center;
    border-bottom: 1px solid #B8B8B8;
}
#user_id_id{
    /*border: 1px solid red;*/
    width: 90%;
    align-content: center;
    font-size: 19px;
    margin: 1%;
    color: #898989;
    font-family: inherit;
    font-weight: 500;
}
#user_edit_id{
    width: 90%;
    align-content: center;
    font-size: 19px;
    margin: 1%;
    color: #898989;
    font-family: inherit;
    font-weight: 500;
}
#user_exit_div{
    /*border: 1px solid red;*/
    width: 10%;
    margin: 1%;
    text-align: center;
    align-content: center;
    font-size: 22px;
    font-weight: 600;
    color: #898989;
}
#user_exit_div:hover{
    color: black;
}

#user_edit_exit_div{
    /*border: 1px solid red;*/
    width: 10%;
    margin: 1%;
    text-align: center;
    align-content: center;
    font-size: 22px;
    font-weight: 600;
    color: #898989;
}
#user_edit_exit_div:hover{
    color: black;
}
#user_details{
    /*border: 1px solid red;*/
    margin: 1%;
    height: 73%;
    display: flex;
}
#order_image{
    border: 1px solid #B8B8B8;
    border-radius: 7px;
    width: 100%;
    height: 40%;
    background-image: url('../icons/patient.jpg');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    overflow: hidden;
}
#profile_side_div{
    /*border: 1px solid #B8B8B8;*/
    border-radius: 7px;
    width: 30%;
    height: 100%;
    display: block;
    /*margin: 1%;*/
}
#buttons_div{
    /*border: 1px solid red;*/
    margin: 1%;
    margin-top: 12%;
    height: 50%;
}
.user_profile_button{
    /*border: 1px solid red;*/
    margin: 1%;
    margin-bottom: 2%;
    height: 25%;
    align-content: center;
    text-align: center;
    justify-content: center;
}

/*DELETE USER BUTTON*/
#delete_user_button{
    border: 1px solid red;
    display: flex;
    color: white;
    background: red;
    /*border: 1px solid black;*/
    height: 38px;
    border-radius: 4px;
    margin: auto;
    width: 125px;
    font-weight: 600;
    font-size: 15px;
}
#delete_user_button:hover{
    transform: scale(1.0001);
    opacity: 0.85;
    box-shadow: 1px 1px 3px #c7c5c5;
}
#delete_icon{
    /*border: 1px solid black;*/
    height: 100%;
    align-content: center;
    font-size: 14px;
    width: 20px;
}
#delete_txt{
    /*border: 1px solid black;*/
    height: 100%;
    align-content: center;
    margin-left: 4px;
}
/*EDIT USER BUTTON*/
#edit_user_button{
    border: 1px solid #30B3DE;
    display: flex;
    color: white;
    background: #30B3DE;
    /*border: 1px solid black;*/
    height: 40px;
    border-radius: 4px;
    margin: auto;
    font-size: 15px;
    width: 125px;
}
#edit_user_button:hover{
    transform: scale(1.0001);
    opacity: 0.85;
    box-shadow: 1px 1px 3px #c7c5c5;
}
#edit_icon{
    /*border: 1px solid black;*/
    height: 100%;
    align-content: center;
    font-size: 14px;
    width: 20px;
    font-weight: 600;
}
#edit_txt{
    /*border: 1px solid black;*/
    height: 100%;
    align-content: center;
    margin-left: 4px;
    font-weight: 600;
}
/*EDIT USER BUTTON*/
#add_disease_button{
    border: 1px solid #A3DDF0;
    display: flex;
    color: white;
    background: #A3DDF0;
    /*border: 1px solid black;*/
    height: 40px;
    border-radius: 4px;
    margin: auto;
    font-size: 14px;
    width: 125px;
}
#add_disease_button:hover{
    transform: scale(1.0001);
    opacity: 0.85;
    box-shadow: 1px 1px 3px #c7c5c5;
}
#add_icon{
    /*border: 1px solid black;*/
    height: 100%;
    align-content: center;
    font-size: 14px;
    width: 20px;
    font-weight: 900;
}
#new_disease_txt{
    /*border: 1px solid black;*/
    height: 100%;
    align-content: center;
    margin-left: 4px;
    font-weight: 600;
}

#user_description{
    /*border: 1px solid red;*/
    margin-left: 1%;
    width: 70%;
    overflow: auto;
}
.user_description_info{
    /*border: 1px solid red;
    border-bottom: 1px solid #EBEBEB;*/
    margin-bottom: 1%;
    height: 10%;
    display: flex;
    font-family: inherit;
}
.user_detail_head{
    /*border: solid 1px red;*/
    min-width: 30%;
    align-content: center;
    font-family: inherit;
    color: #898989;
    /*font-weight: 600;*/
    font-size: 20px;
    font-family: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.user_detail_data{
    /*border: solid 1px red;*/
    width: 75%;
    margin-left: 1%;
    align-content: center;
    font-family: inherit;
}
.user_detail_data_input{
    width: 75%;
    margin-left: 1%;
    align-content: center;
    font-family: inherit;
    border-radius: 8px;
    border: 1px solid rgb(48, 179, 222, 0.4);
    font-family: inherit;
    font-size: 14px;
    outline: none;
    height: 25px;
}
.colon{
    /*border: 1px solid red;*/
    width: 3%;
    font-size: 18px;
    font-family: inherit;
    align-content: center;
    text-align: center;
}
#activity_status{
    background: ;
    border: ;
    width: 60px;
    height: 25px;
    text-align: center;
    align-content: center;
    color: black;
    font-weight: 600;
    border-radius: 5px;
}

#user_approval_buttons{
    /*border: 1px solid red;*/
    border-top: 1px solid #B8B8B8;
    margin: 1%;
    height: 11%;
    display: flex;
    align-items: center;
    justify-content: center;   
}
#create_disease_buttons{
    /*border: 1px solid red;*/
    width: 45%;
    display: flex;
    height: 90%;
    align-items: center;
    justify-content: center;
}

#cancel_button{
    background: #FF5C67;
    border: 1px solid #FF5C67;
}
#update_button{
    display: none;
    border: 1px solid #38baee;
    width: 90px;
    height: 30px;
    border-radius: 4px;
    background-color: #38baee;
    color: white;
    font-weight: 700;
    font-size: 15px;
    outline: none;
}
#update_user_profile_button{
    border: 1px solid #38baee;
    width: 90px;
    height: 30px;
    border-radius: 4px;
    background-color: #38baee;
    color: white;
    font-weight: 700;
    font-size: 15px;
    outline: none;
}
.confirmation_buttons:hover{
    opacity: 0.85;
    color: black;
}
.options{
    height: 50px;
}
#add_disease_div{
    /*border: 1px solid red;*/
    border-radius: 8px;
    display: none;
    font-family: inherit;
}
#new_disease_title{
    /*border: 1px solid red;*/
    font-size: 16px;
    font-weight: 600;
    width: 30%;
}
#doctor_select{
    border: 1px solid rgb(48, 179, 222, 0.4);
    width: auto;
    height: 28px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    border-radius: 8px;
    background: white;
    outline: none;
    margin-left: 7%;
}

#gender_select{
    border: 1px solid rgb(48, 179, 222, 0.4);
    width: auto;
    height: 28px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 550;
    border-radius: 8px;
    background: white;
    outline: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 120;
    display: none; 
}

/*USER NEW DISEASE*/
#user_profile_edit{
    /*border: solid 1px red;*/
    display: none;
    border: 1px solid #B8B8B8;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 550px;
    background: white;
    z-index: 50;
    box-shadow: 2px 2px 8px #b3b3b3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}