#regions_div{
    background-color: #f7f7f7;
    color: black;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transform: scale(1.04);
}
#region_text{
    color: orange;
}
#region_div{
    /*border: solid 1px green;*/
    height: 82vh;
    margin-bottom: 2%;
}
#regions_div_inner{
    /*border: 1px red solid;*/
    margin: 1%;
    margin-top: 0px;
    height: 8%;
    display: flex;
}
#search{
    /*border: solid 1px red;*/
    width: 50%;
    display: flex;
    align-items: center;
}
#filter_div{
    /*border: solid 1px red;*/
    margin-left: 5%;
    width: 20%;
    margin-right: 2%;
    display: flex;
    color: #525252;
    height: 90%;
    border-radius: 7px;
    background-color: white;
    border: 1px solid #d4d4d4;
    overflow: auto;
}
#filter_icon{
    /*border: solid 1px red;*/
    width: 33%;
    align-content: center;
    text-align: center;
    font-size: 18px;
}
#filter_txt{
    /*border: solid 1px red;*/
    width: 67%;
    font-size: 16px;
    align-content: center;
    text-align: center;
    overflow: hidden;
}

#search_div_home{
    border: 1px solid #d4d4d4;
    margin-right: 1%;
    height: 90%;
    width: 50%;
    float: right;
    position: center;
    align-content: center;
    justify-content: center;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 8px;
}
#search_bar_home{
    display: flex;
    width: 90%;
    /*border: 2px red solid;*/
    height: 80%;
    margin-left: 3%;
    /*border: 1px;*/
    
}
#search_input_home{
    width: 90%;
    /*border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;*/
    border: 1px solid white;
    background-color: white;
    font-size: 15px;
}

#search_button_home{
    width: 20%;
    background: white;
    /*border: 1px solid black;*/
    border: 1px solid white;
    border-radius: 10px;
}
#search_button_home:hover{
    transform: scale(0.90);
    color: #1a6860;
    background-color: #f7f7f7;
}
#regions_table_div{
    /*border: solid 1px red;*/
    margin: 1%;
    margin-top: 0px;
    height: 85%;
    background: white;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #b3b3b3;
}
#all_regions_table{
    /*border: solid 1px red;*/
    margin-bottom: 1%;
    margin-top: 0px;
    height: 100%;
}
#regions_tables_content{
    /*border: solid 1px black;*/
    border-bottom: solid 1px #cfcfcf;
    height: 90%;
    overflow: auto;
}



#myRegionTable{
    background-color: inherit;
    width: 100%;
    margin-left: 0;

}
#myRegionTable th {
    background-color: white;
    color: #1a6860;
    text-align: center;
    /*height: 5vh;*/
    border-bottom: solid 2px #d4d4d4;
}


#myRegionTable tbody tr:hover {
    font-weight: 500;
    opacity: 0.98;
    transform: scale(1.0001);
    box-shadow: 1px 1px 3px #b3b3b3;
}
#myRegionTable td {
    text-align: center;
    width: 150px;
    margin: 0 auto;
    height: 1vh;
}